* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

.jumbotron {
    background-image: url(https://images.pexels.com/photos/4467136/pexels-photo-4467136.jpeg);
    margin: 20px;
}

footer {
    text-align: center;
}

